<h1> Role Showing </h1>

<p>
  <strong>Role :</strong>
  <%= @role.name %>
</p>

<<<<<<< HEAD
<%= link_to 'back to roles', roles_path, class: "back-btn" %>
=======
<%= link_to 'back to roles', roles_path %>
>>>>>>> reaction-functionality
